/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828FF;
    background-alt: #353535FF;
    foreground:     #EBDBB2FF;
    selected:       #83A598FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;

    gruvbox-dark-bg0:          #282828;
    gruvbox-dark-bg0-soft:     #32302f;
    gruvbox-dark-bg3:          #665c54;
    gruvbox-dark-fg0:          #fbf1c7;
    gruvbox-dark-fg1:          #ebdbb2;
    gruvbox-dark-red-dark:     #cc241d;
    gruvbox-dark-red-light:    #fb4934;
    gruvbox-dark-yellow-dark:  #d79921;
    gruvbox-dark-yellow-light: #fabd2f;
    gruvbox-dark-gray:         #a89984;

    alternate-active-background: @gruvbox-dark-yellow-dark;
    selected-active-background:  @gruvbox-dark-yellow-light;
    urgent-background:           @gruvbox-dark-red-dark;
    urgent-foreground:           @background;
    selected-urgent-background:  @gruvbox-dark-red-light;
    selected-urgent-foreground:  @urgent-foreground;
}
